<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{pageTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  -->
  <ion-list>
  
    <!-- Sliding item with expandable options on both sides -->
    <ion-item-sliding *ngFor="let provision of loadProvisions(); let i = index">
      <ion-item-options side="start">
        <ion-item-option (click)="removeItem(provision, i)" color="danger" expandable>
          Remove
        </ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-label>{{provision.name}}</ion-label>
        <ion-note slot="end">qty. {{provision.quantity}}</ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="editItem(provision, i)" color="secondary">
          Edit
        </ion-item-option>
        <ion-item-option color="tertiary" expandable>
          Place In Basket
        </ion-item-option>
        <ion-item-option (click)="shareItem(provision, i)" color="light" expandable>
          Share
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <!--Button to add item to list.-->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <h3 id="noContent" *ngIf="loadProvisions().length === 0">
    Please add provisions.
  </h3>

</ion-content>
